<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block container %}
<div class="content">
    <h1> Forgot Password </h1>

    <form method="POST" action="{{url_for('forgot_password')}}">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required><br>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" required><br>
        <label for="password">New Password: </label>
        <input type="password" name="password" id="password" required><br>
        <label for="confirm_password">Confirm Password: </label>
        <input type="password" name="confirm_password" id="confirm_password" required><br>
        <button type="submit" name="submit" value="Reset">Reset</button>
    </form>

    <p>Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a></p>
    <p>Remember password? <a href="{{url_for('login')}}">Login</a></p>
</div>

<!-- If there are any errors it makes sure -->
{% if errors %}
    <div class="alert">
        <ul>
            {% for message in errors %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}   

{% endblock %}
</html>