<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block container %}
    <div class="content">
        <h1> Login </h1>

        <!-- When they are on the login.html page, it will show this form but when they press submit, it will actuate the login_auth() function from the backend.  -->
        <form method="POST" action="{{url_for('login_auth')}}">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required><br>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required><br>

            <button type="submit" name="submit" value="Login">Login</button>
        </form>

        <!-- If they users don't have an account, it simply allows them to click and call the signup() function which renders the signup.html file. -->
        <p>Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a></p>
        <p>Forgot Password? <a href="{{url_for('forgot_password')}}">Reset</a></p>
    </div>

    <!-- If there are any errors it makes sure -->
    {% if errors %}
        <div class="alert">
            <ul>
                {% for message in errors %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}   
{% endblock %}

</html>