<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block container %}
    <div class="content">
        <h1> Sign Up </h1>

        <!-- When they complete this form, it will call the signup() function and actuate it from the back-end -->
        <form method="POST" action="/signup">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required><br>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required><br>
            <label for="password">Password (8-20 characters, with at least one number and one alphabet): </label>
            <input type="password" name="password" id="password" required><br>
            <label for="confirm_password">Confirm Password: </label>
            <input type="password" name="confirm_password" id="confirm_password" required><br>
            <button type="submit" name="submit" value="Sign Up">Sign Up</button>
        </form>

        <!-- If the users already have an account, they can simply click here and it will link them to the login() function which renders the login.html page -->
        <p>Already have an account? <a href="/login">Log in</a></p>
    </div>

    <!-- If there are any errors, it will pop up -->
    {% if errors %}
        <div class="alert">
            <ul>
                {% for message in errors %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

</html>